<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finedust">

    <!-- Permissions for using Application -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.SearchAddressActivity" />
        <activity android:name=".view.ChangeGradeActivity" />

        <!-- Widget Dark -->
        <receiver
            android:name=".widget.WidgetDark"
            android:label="가나다_위젯(어두운버전)">
            <intent-filter>

                <!-- Essential Parameter -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

                <!-- Custom actions -->
                <action android:name="ch.widget_action.WIDGET_DARK_RESPONSE_FROM_SERVER" />
                <action android:name="ch.bootcompleted.control.BootCompletedReceiver" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_dark_info" />
        </receiver>

        <activity android:name=".widget.WidgetDarkConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service android:name=".service.WidgetDarkService">
            <intent-filter>
                <action android:name="ch.widget_action.WIDGET_DARK_GETDATA_FROM_SERVER" />
            </intent-filter>
        </service>

        <receiver
            android:name=".service.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMMPLETED" />

            </intent-filter>
        </receiver>

    </application>

</manifest>